header .navbar{
    background-color: rgb(143, 138, 138);
    padding: 8px;
}
header .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
header .navbar ul li a{
    text-decoration: none;
}
